#entry-form {
  max-width:550px;
  margin: 0 auto;
  padding:100px;
  background:whitesmoke;
  border: 1px solid rgb(191, 191, 191);
}
#entry-form input {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
}
#entry input[type=submit] {
  border: 10;
  padding: 15px;
  background: #607dc5;
  color: rgb(46, 11, 243);
  cursor:crosshair;
}
#entry-form h1 {
  margin: 0 0 50px 0;
  color:blue;
}

#entry-form h2 {
  margin:0in 0 10 0;
  color:red;
}
#entry-form p {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
